.App {
  text-align: center;
  margin: 40px 300px;
}

.input-searchbar{
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .App {
    margin: 40px 10px;
  }
}